<!-- 
<div class="container">
    <h2>Update Submodule</h2>
    <form [formGroup]="updateSubmoduleForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="subModuleName">Submodule Name:</label>
        <input type="text" class="form-control" id="subModuleName" formControlName="subModuleName" required>
        <div *ngIf="updateSubmoduleForm.controls['subModuleName'].invalid && (updateSubmoduleForm.controls['subModuleName'].dirty || updateSubmoduleForm.controls['subModuleName'].touched)" class="text-danger">
          <div *ngIf="updateSubmoduleForm.controls['subModuleName'].errors ">Submodule Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="path">Path:</label>
        <input type="text" class="form-control" id="path" formControlName="path" required>
        <div *ngIf="updateSubmoduleForm.controls['path'].invalid && (updateSubmoduleForm.controls['path'].dirty || updateSubmoduleForm.controls['path'].touched)" class="text-danger">
          <div *ngIf="updateSubmoduleForm.controls['path'].errors ">Path is required.</div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Update Submodule</button>
    </form>
  </div>

  -->

  <h1 mat-dialog-title>Update Submodule</h1>
<div mat-dialog-content>
  <form [formGroup]="updateSubmoduleForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Submodule Name" formControlName="subModuleName">
      <mat-error *ngIf="updateSubmoduleForm.controls['subModuleName'].invalid">
        Submodule name is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Path" formControlName="path">
      <mat-error *ngIf="updateSubmoduleForm.controls['path'].invalid">
        Path is required.
      </mat-error>
    </mat-form-field>
    
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="onSubmit()">Update</button>
</div>
