<!-- <h2 mat-dialog-title>{{ data?.fonction ? 'Edit' : 'Add' }} Fonction</h2>
<div mat-dialog-content>
    <form [formGroup]="functionForm">
        <mat-form-field>
            <input matInput formControlName="functionName" placeholder="functionName" required>
            <mat-error *ngIf="functionForm.get('functionName')?.invalid">
                functionName is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="submodules" multiple placeholder="Select Submodules" panelClass="submodule-select-panel" (selectionChange)="toggleSubmodule($event.value)">
                <mat-option *ngFor="let submodule of submodules" [value]="submodule" [ngClass]="{ 'mat-selected': submodule.selected }">
                    {{ submodule.subModuleName }} ({{ submodule.path }})
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="selectedSubmodules.length > 0" class="selected-submodules">
            <p class="selected-submodules-title">Selected Submodules:</p>
            <div class="selected-submodules-container">
                <div *ngFor="let submodule of selectedSubmodules" class="selected-submodule">
                    <mat-icon class="remove-icon" (click)="toggleSubmodule(submodule)">close</mat-icon>
                    <span>{{ submodule.subModuleName }} ({{ submodule.path }})</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="saveFonction()" [disabled]="!functionForm.valid">
        {{ data?.fonction ? 'Update' : 'Add' }} Fonction
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</div> -->

<div >
    <h2>Add Fonction</h2>
    <form [formGroup]="functionForm" (ngSubmit)="onSubmit()">
      
        <label for="functionName">Function Name:</label>
        <input type="text" class="form-control" id="functionName" formControlName="functionName" required>
        <div *ngIf="functionForm.controls['functionName'].invalid && (functionForm.controls['functionName'].dirty || functionForm.controls['functionName'].touched)" class="text-danger">
          <div *ngIf="functionForm.controls['functionName'].errors ">Function Name is required.</div>
        
      </div>
     
      
        <label for="submoduleId">Submodule:</label>
        <select class="form-control" id="submoduleId" formControlName="submoduleId" required>
          <option *ngFor="let submodule of submodules" [value]="submodule.id">{{ submodule.subModuleName }}</option>
        </select>
      
      

      <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Add Function</button>
      <button mat-raised-button mat-dialog-close (click)="cancel()">Cancel</button>
    </form>
  </div>
  